body{
  background-color: rosybrown;
  font-family: Arial, sans-serif;
}

p{
  margin: 5px;
}

.business-card{
  width: 300px;
  box-sizing: border-box;
  padding: 20px;
  margin: 100px auto 0 auto;
  font-size: 16px;
  text-align: center;
  background-color:  lightblue;
  
  
}

.profile-image{
  max-width: 100%;
}

a{
  text-decoration: none;
}